@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@model SearchModel 

 
<form method="post" class="row fs-4 border-bottom pb-2" id="searchForm" >
    <div class="col-3">
        <label class="form-label"for="location">Location</label>
        <select asp-for="CityId" id="location" class="form-select">
            <option value="" selected disabled hidden>Select your destination</option>
            @foreach (City city in Model.Cities)
            {
                @if (Model.CityId != null)
                {
                    @if (city.Id == Model.CityId)
                    {
                        <option value="@city.Id" selected>@city.Name</option>
                    }
                    else
                    {
                        <option value="@city.Id">@city.Name</option>
                    }
                }
                else
                {
                    <option value="@city.Id">@city.Name</option>
                }
            }
        </select>      
    </div>
    <div class="col-3">
        <label class="form-label" for="daterange">Select date of stay</label>
        <input type="text" name="daterange" class="form-control"/>
        @if (Model.StartDate != null)
        {
            <input asp-for="StartDate" id="SearchModel_StartDate" type="hidden" class="form-control" value="@Model.StartDate" />
            <input asp-for="EndDate" name="EndDate" id="SearchModel_EndDate" type="hidden" class="form-control" value="@Model.EndDate" />
        }
        else
        {
            <input asp-for="StartDate" id="SearchModel_StartDate" type="hidden" class="form-control" />
            <input asp-for="EndDate" id="SearchModel_EndDate" type="hidden" class="form-control" />
        }
    </div>
    <div class="col-3">
        <label class="form-label"  for="amountOfGuest">Amount of guests</label>
        @if (Model.AmountOfGuests != null && Model.AmountOfGuests != 0 ){
            <input asp-for="AmountOfGuests" class="form-control" type="number" min="1" value="@Model.AmountOfGuests">
        }
        else
        {
            <input asp-for="AmountOfGuests" class="form-control" type="number" min="1" value="1">
        }
    </div>
    <div class="col-2">
        <button class="btn-secondary btn form-control " type="submit" onclick="submitForm('reset')">Reset</button>
        <button class="btn-primary btn form-control" type="submit" >Search</button>
    </div>

</form>