@page
@model ReservaWebApplication.Pages.RoomPages.RoomsViewModel
@{
}

<partial name="_SearchBarPartial" model="@Model.SearchModel"/>
<div class="row row-cols-2 row-cols-md-auto justify-content-center justify-content-sm-start my-4">
    @foreach(Room room in Model.Rooms)
    {
 
        <div class="col ">
            <div class="card border-3 my-3 mx-3 shadow">
                <img src="https://th.bing.com/th/id/OIP.YlF5RjQbKdSe-jPvbJuo7QHaE8?w=287&h=191&c=7&r=0&o=5&dpr=1.5&pid=1.7" class="card-img-top" alt="room">
                <div class="card-body ">
                    <h5 class="card-title">@room.Name</h5>
                    <p class="card-text m-0">Cost Per night: $@room.GetPrice()</p>
                    <p class="card-text m-0">@room.BedType</p>
                    <p class="card-text m-0">Sleeps @room.Capacity</p>
                </div>
                <div class="card-footer text-center ">
                    <a asp-page="/RoomPages/RoomPage" asp-route-id="@room.Id" class="btn btn-primary stretched-link">Reserve</a>
                </div>
            </div>
        </div>

    }
</div>